/* variables */
/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base */
body {
  font-family: 'Karla', sans-serif;
}
img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: 'DM Serif Display', serif;
}

a {
  text-decoration: none;
}

/* Utility Classes */
.container {
  width: 90%;
  max-width: 1265px;
  margin-inline: auto;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
/* Mobile */
.hero-section {
  background: hsl(256, 26%, 20%);
  color: white;
}

.hero-text {
  padding: 4rem 0;
  text-align: center;
}

.hero-text h1 {
  margin-bottom: 1rem;
}

.hero-text a {
  display: inline-block;

  color: white;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}
/* Tab */
@media (min-width: 700px) {
  .hero-section {
  }

  .row {
    width: 90%;
    max-width: 1265px;
    margin-inline: auto;
    display: flex;
  }

  .hero-image {
    order: 1;
  }
}
/* Desktop */
